# ---------------------------------------------------------------------------------
#  Distributed under MIT Licence
#    See https://github.com/josephabbey/z7-coprocessor/blob/main/LICENCE.
# ---------------------------------------------------------------------------------

nums.txt